.apeach {
    margin: 100px auto;
    width: 200px;
    height: 200px;
    transform: scale(1, 1);
}

.apeach .head {
    transform: scale(1, .7);
}

.apeach .inner {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    content: "";
    box-sizing: content-box;
    background-color: #fbc5c5;
    border-radius: 10px 160px 180px 160px;
    transform: rotate(45deg);
    border: 5px solid black;
}

.apeach .eye {
    position: absolute;
    width: 40px;
    height: 30px;
    top: 85;
}

.apeach .eye-left {
    left: 35;
}

.apeach .eye-right {
    right: 35;
}

.apeach .eye-left .line, .apeach .eye-right .line {
    position: relative;
    top: 0;
    left: 0;
    height: 6px;
    background-color: black;
    box-sizing: border-box;
    border-radius: 3px;
    transform: skewY(-1deg);
}

.apeach .line:nth-child(2n) {
    left: 2;
    transform: skewY(1deg);
}

.apeach .eye-left .big-bling, .apeach .eye-right .big-bling {
    position: absolute;
    top:15;
    left: 7;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 100px
}

.apeach .eye-left .small-bling, .apeach .eye-right .small-bling {
    position: absolute;
    top:5;
    left: 20;
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 100%
}

.apeach .flush {
    position: absolute;
    top: 120;
    width: 40px;
    height: 13px;
    background-color: #F66B6E;
    border-radius: 100%;
}

.apeach .flush-left {
    left: 30;
}

.apeach .flush-right {
    right: 30;
}

.apeach .mouth {
    position: absolute;
    top: 110;
    left: 90;
    width: 20px;
    height: 20px;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    border-radius: 3px 3px 0 3px;
    transform: rotate(55deg) skewY(-20deg);
}
